<div id="judge-area">

    <div class="form-group">
        <label for="input-judge-type" class="col-sm-1 control-label">URI</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="rule-uri" placeholder="URI" value="${r.uri}">
        </div>
    </div><!-- URI -->

    {@each r.charge.users as c, index}
        <div class="form-group pair condition-holder">
            <label class="col-sm-1 control-label" style="padding-left: 7px;padding-right: 7px;">负责人</label>

        <div class="col-sm-2">
            <input type="text" name="rule-user-name" class="form-control" value="${c.name}">
        </div>
        <div class="col-sm-4 condition-name-hodler" style="padding-left:0px;">
            <input type="text" class="form-control" name="rule-user-email" placeholder="邮箱" value="${c.email}">
        </div>
        <div class="col-sm-3">
            <input type="text" class="form-control" name="rule-user-phone" placeholder="手机" value="${c.phone}">
        </div>
        <div class="col-sm-1" style="margin-top:5px">
            <span class="input-group-btn">
                <a class="btn btn-remove" style="padding:0 5px;">
                    <i class="fa fa-remove"></i>
                </a>
                <a class="btn btn-add" style="padding:0 5px;">
                    <i class="fa fa-plus"></i>
                </a>
            </span>
        </div>
        </div>
    {@/each}

    <div class="form-group">
        <label for="input-desc" class="col-sm-1 control-label">说明</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="rule-desc" placeholder="说明" value="${r.desc}">
        </div>
    </div>

    <!--是否监控此接口-->
    <div class="form-group">
        <div class="col-sm-offset-1 col-sm-11">
            <div class="checkbox">
                <label>
                    <input type="checkbox" id="rule-monitor" {@if r.monitor == true} checked {@/if}> 启用监控
                </label>
            </div>
        </div>
    </div>
    <!--是否监控此接口-->
    <div class="form-group">
        <div class="col-sm-offset-1 col-sm-11">
            <div class="checkbox" style="float: left;">
                <label>
                    <input type="checkbox" id="rule-limit" {@if r.limit.enable == true} checked {@/if}> 启用限流
                </label>
            </div>
            <div class="col-sm-4">
                <input type="text" class="form-control" {@if r.limit.enable == false} disabled {@/if} name="rule-limit-times" value="${r.limit.times}" placeholder="limit-times">
            </div>
            <div class="col-sm-4">
                <input type="text" class="form-control" {@if r.limit.enable == false} disabled {@/if} name="rule-burst-times" value="${r.limit.burst}" placeholder="burst-times">
            </div>
        </div>
    </div>
</div>
<!-- judge -->
